..Rcheck
.*.swp
.DS_Store
.RData
.Rhistory
.swp
*.log
biodbNci_*.tar.gz
biodbNci_*.tgz
biodbNci.Rcheck
cache*
check.Renviron
doc
longtests/*/output
Meta
Renviron.bioc
src-i386
src-x64
src/*.rds
src/*.o
src/*.so
tests/*/output
testthat-problems.rds
vignettes/*.html
vignettes/*.md
vignettes/*.R
